@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

html {
  padding-left: 4rem;
  padding-right: 4rem; /* tu padding lateral */
}

body {
  @apply bg-gray-50 text-gray-900 font-sans
}
.text_principal{
  @apply text-gray-900
}
.text_secundario{
  @apply text-gray-900
}

.style_layout{
  @apply bg-gray-800 text-gray-100 p-5
}

.botton_primario {
  @apply 	bg-blue-600 hover:bg-blue-700
}
.boton_alert {
  @apply bg-red-600
}
.enlaces {
  @apply text-blue-600 hover:text-blue-800
}
.sombras_bordes {
  @apply border-gray-200
}